<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrePlay</title>
</head>
<body>
<h1>Conquian</h1>
<h2>Hi !!!EXAMPLE!!!</h2>

<table>
  <td>
      <tr>
          <a href="/play" target="_blank">
              <button>Play</button>
          </a>
          <a href="/tutorial" target="_blank">
              <button>Tutorial</button>
          </a>
          <a href="/Settings" target="_blank">
              <button>Settings</button>
          </a>

      </tr>
  </td>
</table>
</body>
</html>