<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<h1>Welcome !!!Example!!!</h1>

<table>
    <tr>
       <td>
           Sound:
       </td>
        <td>
            <input type="radio" id="soundON" name="sound" value="sound">
            <label for="soundON">ON</label>
        </td>

       <td>
         <input type="radio" id="soundOff" name="sound" value="sound">
         <label for="soundOff">OFF</label>
       </td>
    </tr>
    <tr>
       <td>
           Nine or Eight Card Game:
       </td>
        <td>
            <input type="radio" id="nineCard" name="numCards" value="numCards">
            <label for="nineCard">9</label>
        </td>
       <td>
         <input type="radio" id="eightCard" name="numCards" value="numCards">
         <label for="eightCard">8</label>
       </td>
    </tr>
    <tr>
         Number of Players:
       </td>
        <td>
            <input type="radio" id="twoPlayers" name="numPlayers" value="numPlayers">
            <label for="twoPlayers">2</label>
        </td>
       <td>
         <input type="radio" id="threePlayers" name="numPlayers" value="numPlayers">
            <label for="threePlayers">3</label>
       </td>
        <td>
        <input type="radio" id="fourPlayers" name="numPlayers" value="numPlayers">
            <label for="fourPlayers">4</label>
        </td>
    </tr>
    <tr>
          Difficulty:
       </td>
        <td>
            <input type="radio" id="easy" name="difficulty" value="difficulty">
            <label for="easy">Easy</label>
        </td>
       <td>
         <input type="radio" id="medium" name="difficulty" value="difficulty">
            <label for="medium">Medium</label>
       </td>
        <td>
        <input type="radio" id="hard" name="difficulty" value="difficulty">
            <label for="hard">Hard</label>
        </td>
    </tr>

</table>
</body>
</html>