<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

</head>
<body>
<form>
  <table>
    <tr>
      <td>
        First Name:
      </td>
      <td>
        <input type="text" fName="">
      </td>
    </tr>
    <tr>
      <td>
        Last Name:
      </td>
      <td>
        <input type="text" lName="">
      </td>
    </tr>
     <tr>
      <td>
        Email address:
      </td>
      <td>
        <input type="email" email="">
      </td>
    </tr>
     <tr>
      <td>
        Password:
      </td>
      <td>
        <input type="password" pws="">
      </td>
    </tr>
       <tr>
      <td>
        Password Verification:
      </td>
      <td>
        <input type="password" pwsVerification="">
      </td>
    </tr>
  </table>
  <table>
       <tr>
           <td>
               Familiarity with Game:
           </td>
            <td>
                <input type="radio" id="unfamiliar" name="familiarity" value="unfamiliar">
                <label for="unfamiliar">Unfamiliar</label>
            </td>

           <td>
             <input type="radio" id="familiar" name="familiarity" value="familiar">
             <label for="familiar">Familiar</label>
           </td>

           <td>
               <input type="radio" id="professional" name="familiarity" value="professional">
               <label for="professional">Profesional</label>
           </td>
       </tr>
</table>
</form>

</body>
</html>