<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial</title>
</head>
<body>
<h1>
  Hi, this is the tutorial page.
</h1>

<table>
  <td>
    <tr>
      <p>Rules</p>
      <br>
      <iframe width="400" height="300" src="https://www.youtube.com/watch?v=ZbZSe6N_BXs" frameborder="10"></iframe>
      <p>Strategies</p>
      <br>
      <iframe width="400" height="300" src="https://www.youtube.com/watch?v=ZbZSe6N_BXs" frameborder="10"></iframe>

      <p>Navigating Game</p>
      <br>
      <iframe width="400" height="300" src="https://www.youtube.com/watch?v=ZbZSe6N_BXs" frameborder="10"></iframe>
      <p>Authors</p>
      <br>
      <iframe width="400" height="300" src="https://www.youtube.com/watch?v=ZbZSe6N_BXs" frameborder="10"></iframe>
    </tr>
  </td>
  <td></td>
</table>
</body>
</html>